<!DOCTYPE HTML>
<html>
	<head>
		<title>URMC - {{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Main -->
					<article id="main">
						<header>
							<h2>{{ page.title }}</h2>
							<p>{{ page.subtitle }}</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								{{ content }}

							</div>
						</section>
					</article>

			</div>

	</body>
</html>